---
import Default from "../../../layouts/Default.astro";
import Card from "../../../components/Card.astro";
import { getCollection, render } from "astro:content";
export async function getStaticPaths() {
    const posts = await getCollection("blog")
    return posts.map(post => ({
        params: {id: post.id},
        props: {post}
    }))
}

const {post} = Astro.props
const {Content} = await render(post)
---
<Default title={post.data.title} description={post.data.description} banner={false}>
<h1>{post.data.title}</h1>
<Card title={null} icon={null} link={null}>
<article>
<Content />
</article>
</Card>
</Default>