---
interface Props {
    title: string
    description: string
    banner: boolean
}
const { title, description, banner } = Astro.props;
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
import Pageloader from '../components/Pageloader.astro'
import Alert from '../components/Alert.astro';
import '../styles/app.css'
---
<!DOCTYPE html>
<html lang="en" class="scrollbar-thin scrollbar-thumb-blue-600 max-h scroll-smooth">
<head>
<title>{title}</title>
<meta name="og:title" content={`${title}`}>
<meta name="og:site_name" content="TTNRT Corporation">
<meta name="og:description" content={`${description}`}>
<meta name="og:author" content="TTNRT Corporation">
<meta name="og:keywords" content="website, TTNRT, software, TTNRT Corporation, new, technology, tech">
<meta name="og:url" content={`${import.meta.env.SITE}${Astro.url.pathname}`}>
<meta property="og:type" content="website">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/x-icon" href="/logos/ttnrtlogo_v3.png">
<link rel="stylesheet" href="https://api.iconify.design/fa6-brands.css?pseudoSelector=true&color=currentColor&mode=mask&forceSquare=false&iconSelector=.iconify.{prefix}--{name}&icons=git,html5">
<link rel="stylesheet" href="https://api.iconify.design/fa6-solid.css?pseudoSelector=true&color=currentColor&mode=mask&forceSquare=false&iconSelector=.iconify.{prefix}--{name}&icons=square-rss,cloud,heart,circle-info,circle-check,circle-exclamation,triangle-exclamation,hands-clapping,circle-user,shield-halved,arrow-pointer,xmark,circle-xmark">
<link rel="stylesheet" href="https://api.iconify.design/simple-icons.css?pseudoSelector=true&color=currentColor&mode=mask&forceSquare=false&iconSelector=.iconify.{prefix}--{name}&icons=discord,github,reddit,gitea,bluesky,huggingface,astro,openid,mastodon">
<noscript>
<style>
body {
    overflow: hidden;
    user-select: none;
    cursor: not-allowed;
}
.pageloader {
    display: none;
}
.script-warning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    z-index: 9;
    width: 100%;
    text-align: center;
    color: white;
}
</style>
</noscript>
</head>
<body class="flex flex-col min-h-screen bg-black text-white">
{(import.meta.env.MODE === "development") &&
<div class="*:border-0 *:rounded-none *:shadow-none">
<Alert type="danger">
<p>You are running this website in Development mode. Things might be buggy here. Be careful!</p>
</Alert>
</div>
}
<noscript><div class="script-warning">This website requires you have to have javaScript enabled on your browser!</div></noscript>
<Pageloader />
<Navbar />
<main class="grow pr-[0.65em] pl-[0.65em] mb-[0.65em] mt-[0.65em]">

{(banner === true) &&
<section>
<h1>{title}</h1>
<p>{description}</p>
</section>
}

<slot />
</main>
<Footer />
<script>
import { Allowed_Websites } from "../data/scripts/database"
import { Create, Control } from "../data/scripts/helpers"
if (document !== undefined) {
    document.addEventListener('DOMContentLoaded', function() {
        switch (document.readyState) {
            case 'complete':
            case 'interactive':
            case 'loading':
                setTimeout(function() {
                    document.querySelector(".pageloader")?.setAttribute('style', 'opacity: 0; visibility: hidden;')
                }, 500)
                break
            default:
                console.error("Failed to load the page! Sorry about that!")
                break
        }
        document.querySelectorAll('a').forEach(function(link) {
            link.addEventListener('click', function(event) {
                const url_name = this.hostname
                if (url_name && !Allowed_Websites.includes(url_name)) {
                    const full_link = link.getAttribute('href')?.toString()
                    const element_id = "#exit_warning"
                    const dialog_element = document.getElementById(element_id)
                    const confirmMsg = 
                    `
                    <p class="text-base/loose">
                    You are about to leave to an external link that we do not have any control over! You will be taken the following website or link below after you proceed with this warning!
                    <br />
                    <span><code class="language-text">${full_link}</code></span>
                    <br />
                    Are sure that you want to proceed with this action?
                    </p>
                    <br />
                    <div class="modal-action justify-around">
                    <form method="dialog" class="flex-items">
                    <button type="button" class="btn btn-success" id="allow_site"><span aria-hidden="true" class="iconify fa6-solid--circle-check h-6 w-6 shrink-0 stroke-current m r-1"></span>Let's do this!</button>
                    <button type="button" class="btn btn-error" id="return_site"><span aria-hidden="true" class="iconify fa6-solid--circle-xmark h-6 w-6 shrink-0 stroke-current m r-1"></span>Nevermind, I don't want to leave!</button>
                    </form>
                    </div>
                    `
                    Create.Dialog(element_id, "External Website Warning", confirmMsg)
                    document.querySelector<HTMLButtonElement>(dialog_element + ", #allow_site")?.addEventListener('click', function(event2) {
                        window.open(full_link, "_blank")
                        document.getElementById(element_id)?.remove()
                        Control.allowScroll()
                    })
                    document.querySelector<HTMLButtonElement>(dialog_element + ", #return_site")?.addEventListener('click', function(event3) {
                        document.getElementById(element_id)?.remove()
                        Control.allowScroll()
                    })
                    event.preventDefault()
                }
            })
        })
    })
} else {
    console.error("Something went wrong while trying to load the page! Sorry about that!")
}

</script>
</body>
</html>
